@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Helvetica');
/*This applies from 0px to 600px --> MOBILE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: darksalmon;
  font-family: 'Roboto', sans-serif;
  color: #141414;
}

/* ---------------------------------------------------------------- Where the header starts  */

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(0, 53, 128);
}

.title {
  margin: 10px 0 auto 9px;
}

.Booking {
  width: 68px;
  height: 28px;
  font-family: Baloo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.com {
  width: 39px;
  height: 28px;
  font-family: Baloo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(3, 159, 226);
}

.arrowBack {
  margin: 15px;
  width: 26px;
  height: 26px;
}

.icons {
  display: flex;
  margin-top: 8px;
}

.icons div, .left {
  padding: 8px;
}

.iconPhone {
  width: 26px;
  height: 26px;
}

.iconProfile {
  width: 26px;
  height: 26px;
}

.iconSearch {
  width: 26px;
  height: 26px;
}

/* ---------------------------------------------------------------- Where the hamburger starts  */



.hamburger {
  width: 30px;
  height: 25px;
}

/* ---------------------------------------------------------------- Where the hamburger ends  */

.headerLinks {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(0, 53, 128);
  font-family: Helvetica;
  font-size: 1.5vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: lighter;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  
}

.headerLinks, a {
  text-decoration: none;
  color: white;
  padding: 4px;
  
}

/* ---------------------------------------------------------------- Where the header ends  */

section {
  background: goldenrod;
  height: 60%;
}

aside {
  background: #81cfe0;
  height: 60%;
}

footer {
  background: maroon;
  height: 25%;
}

/* This applies from 600px onwards --> DESKTOP */

@media (min-width: 600px) {
  html, body {
    background: yellow;
  }
  section, aside {
    display: inline-block;
    float: left;
    height: 60%;
  }
  section {
    width: 75%;
  }
  aside {
    width: 25%;
  }
  footer {
    clear: both;
  }
}